# Credentials EU Login requis pour le webservice SOAP EUR-Lex.
# Inscription via le bouton "Webservice registration" sur :
# https://eur-lex.europa.eu/content/help/data-reuse/webservice.html
# (EU Login + validation manuelle par un administrateur, compter quelques jours)
EURLEX_USERNAME=
EURLEX_PASSWORD=
